* {
  margin: 0%;
  padding: 0%;
}

#body {
  height: 100vh;
}

.grid-container {

    display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 0px;
    padding: 0px;
    width: 400px;
    height: 400px;
    
    cursor: crosshair;
    background-image: url("Donald.jpg");
    background-size: cover;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(158, 45, 45);
  }
  
  .grid-container > pen {
    display: flex;

    background-color: rgba(0, 0, 0);
    border: 1px solid rgba(0, 0, 0);
    text-align: center;
    
    
  }

   